<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Attend</th>
        </tr>
    </thead>
    <tbody>
        <% if (currentListMember.length != 0) {
            currentListMember.forEach(t => { %>
            <tr>
                <th scope="row">
                    <%- t.id %>
                </th>
                <td>
                    <%- t.name %>
                </td>
                <td>
                    <%- t.email %>
                </td>
                <td>
                    <% if(t.attend) { %>
                        <input class="form-check-input ml-0" name="attendCheckBox" type="checkbox" checked disabled>
                        <% } else { %>
                            <input class="form-check-input ml-0" name="attendCheckBox" type="checkbox" disabled>
                            <% } %>
                </td>
            </tr>
            <% });
        } else { %>
                <tr>
                    <td colspan="3">
                        <div class="d-flex justify-content-center">Danh sách rỗng</div>
                    </td>
                </tr>
                <% }; %>
    </tbody>
</table>

<%- contentFor('title') %>
    Admin